body {
  margin: 0;
  /* Alap háttér legyen sötét, hogy betöltéskor se villanjon fehéret */
  background-color: #020617;
}

/* Csillagos háttér animáció (GLOBÁLIS) */
.star-background {
  /* Absolute helyett Fixed, hogy görgetésnél ne mozduljon el, mindig ott legyen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Minden tartalom mögé kerül */

  background: radial-gradient(circle at center, #0f172a 0%, #020617 100%);
  background-image:
    radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px);
  background-size:
    550px 550px,
    350px 350px,
    250px 250px;
  background-position:
    0 0,
    40px 60px,
    130px 270px;
  animation: stars-move 100s linear infinite;
}

@keyframes stars-move {
  from {
    background-position:
      0 0,
      40px 60px,
      130px 270px;
  }
  to {
    background-position:
      550px 550px,
      440px 460px,
      630px 770px;
  }
}
